<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Race For Life</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Optional custom theme -->
  <link rel="stylesheet" href="/css/custom-theme.css">

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- BS Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body class="d-flex flex-column min-vh-100">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">Race For Life</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-white" href="/myStats">My Stats</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/runs">Runs</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/races">Races</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/teams">Teams</a></li>
        <li class="nav-item">
          <form action="/logout" method="post" class="d-inline">
            <button type="submit" class="btn btn-outline-light btn-sm ms-2">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<main class="container my-5">
  <div th:replace="${content}"></div>
</main>

<footer class="bg-primary text-white text-center py-3 mt-auto">
  <div class="container">
    <small>&copy; 2025 Race For Life. PRO2 Project Created by Jan Málek.</small>
  </div>
</footer>



</body>
</html>
